body {
  background-color: rgb(233, 233, 233);
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-size: 0.8em;
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  color: #910000;
}
p {
  color: black;
  font-size: 1.5em;
}

li{
font-size: 1.5em;
}

.cssValidationIcon{
  border:0;width:88px;height:31px
}